html{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.Button{
  background-color: transparent;
  border-radius: 25%;
  padding: 25%;
  margin: 10%;
}

.LocationButtons{
  position: absolute;
  top: 50%;
  right: 50%;
  display: flex;
  }