html{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.Button{
  background-color: #282c34;
  border: solid;
  border-radius: 25%;
  border-width: 3px;
  border-color: #393f4a;
  padding: 25%;
  margin: 10%;
  font-size: x-large;
  cursor: pointer;
}

.LocationButtons{
  position: absolute;
  top: 50%;
  right: 50%;
  display: flex;
  }

.Video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}