html{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.Button{
  background-color: #282c34;
  border: solid;
  border-radius: 25%;
  border-width: 3px;
  border-color: #393f4a;
  padding: 2rem;
  font-size: x-large;
}

.LocationButtons {
  display: flex;
  gap: 1rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}